@import "../../styles/variables";

.cta-prompt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  .button {
    margin: 2.5rem auto 0;
  }
}
