@import "../../styles/variables";

.centered-content-layout {
  min-height: 90vh;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  &__container {
    max-width: 680px;
  }

  &__subtitle {
    margin-bottom: 0.5em;
  }

  &__description {
    margin-bottom: 2em;
  }

  .button {
    margin: auto;
  }
}
