@import "../../styles/variables";

.header {
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);

  &__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &__image-block {
    max-width: 25rem;
    padding-bottom: 2rem;
    margin: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    &_secondary {
      width: 30%;
      position: absolute;
      z-index: 1;
    }
  }

  &__title {
    margin-bottom: 1em;
  }

  &__title-highlight {
    color: var(--color-secondary);
  }

  .button_primary {
    &::after {
      content: ">";
      padding-left: 1ch;
    }
  }
}

@media (min-width: 768px) {
  .header {
    &__container {
      padding-top: 0;
      padding-bottom: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__image-block {
      order: 1;
      max-width: unset;
      padding: 1rem 0 1rem 1rem;
      border-left: 1px solid var(--color-border);
    }

    &__text-block {
      padding: 1rem 1rem 1rem 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
    }
  }
}

@media (min-width: 1024px) {
  .header {
    &__image-block {
      padding: 2rem 0 2rem 2rem;
    }

    &__text-block {
      padding: 2rem 2rem 2rem 0;

      &-wrap {
        min-height: calc(50% + 1rem);
      }
    }
  }
}
